**/node_modules/
.idea

# app
app/.expo/
app/*.jks
app/*.p8
app/*.p12
app/*.mobileprovision
app/*.orig.*
app/web-build/

# Credentials
*.key
*-key.json

# Logging / Debug
*.log
npm-debug.*

# macOS
**/.DS_Store
